use petCareX
GO

CREATE TABLE KHACH(
	CCCD CHAR(12),
	HO_TEN NVARCHAR(40),
	EMAIL NCHAR(40),
	GIOI_TINH NVARCHAR(3)

	PRIMARY KEY(CCCD)
)

GO
CREATE TABLE SODIENTHOAI_KHACHHANG(
	KHACH_HANG CHAR(12),
	SO_DIEN_THOAI CHAR(10)

	PRIMARY KEY(KHACH_HANG,SO_DIEN_THOAI),
	FOREIGN KEY (KHACH_HANG) REFERENCES KHACH(CCCD)
)

GO
CREATE TABLE THU_CUNG 
(
	MA_THU_CUNG CHAR(3),
	TEN NVARCHAR(20),
	LOAI NVARCHAR(20),
	GIONG NVARCHAR(20),
	NGAY_SINH DATE,
	GIOI_TINH NCHAR(3),
	TINH_TRANG_SUC_KHOE NVARCHAR(80),
	CCCD CHAR(12)

	PRIMARY KEY(MA_THU_CUNG),
	FOREIGN KEY(CCCD) REFERENCES KHACH(CCCD)
)

GO
CREATE TABLE CHI_NHANH
(
	MA_CHI_NHANH CHAR(2),
	TEN NVARCHAR(40),
	SO_NHA NVARCHAR(40),
	QUAN NVARCHAR(20),
	HUYEN NVARCHAR(20),
	THOI_GIAN_MO_CUA DATE,
	THOI_GIAN_DONG_CUA DATE,
	DIEM_DANH_GIA INT

	PRIMARY KEY(MA_CHI_NHANH)
)
GO

CREATE TABLE SO_DIEN_THOAI_CHI_NHANH
(
	MA_CHI_NHANH CHAR(2),
	SO_DIEN_THOAI CHAR(10)

	PRIMARY KEY(MA_CHI_NHANH,SO_DIEN_THOAI),
	FOREIGN KEY(MA_CHI_NHANH) REFERENCES CHI_NHANH(MA_CHI_NHANH)
)
GO

 --1234